
PageNavigationExample/.vs/PageNavigationExample/v17/.suo
PageNavigationExample/PageNavigationExample/bin/x86/Debug/App.xbf
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/App.xbf
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/AppxManifest.xml
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Assets/LockScreenLogo.scale-200.png
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Assets/SplashScreen.scale-200.png
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Assets/Square150x150Logo.scale-200.png
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Assets/Square44x44Logo.scale-200.png
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Assets/StoreLogo.png
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Assets/Wide310x150Logo.scale-200.png
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/entrypoint/PageNavigationExample.exe
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/MainPage.xbf
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Microsoft.UI.Xaml.Markup.winmd
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/PageNavigationExample.exe
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/PageNavigationExample.xr.xml
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Pages/LeftPage.xbf
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Pages/RightPage.xbf
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/Properties/Default.rd.xml
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/resources.pri
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/System.Runtime.dll
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/vs.appxrecipe
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppX/WinMetadata/Windows.winmd
PageNavigationExample/PageNavigationExample/bin/x86/Debug/AppxManifest.xml
PageNavigationExample/PageNavigationExample/bin/x86/Debug/Core/AppxManifest.xml
PageNavigationExample/PageNavigationExample/bin/x86/Debug/Core/PageNavigationExample.exe
PageNavigationExample/PageNavigationExample/bin/x86/Debug/MainPage.xbf
PageNavigationExample/PageNavigationExample/bin/x86/Debug/Microsoft.UI.Xaml.Markup.winmd
PageNavigationExample/PageNavigationExample/bin/x86/Debug/PageNavigationExample.build.appxrecipe
PageNavigationExample/PageNavigationExample/bin/x86/Debug/PageNavigationExample.exe
PageNavigationExample/PageNavigationExample/bin/x86/Debug/PageNavigationExample.pdb
PageNavigationExample/PageNavigationExample/bin/x86/Debug/PageNavigationExample.xr.xml
PageNavigationExample/PageNavigationExample/bin/x86/Debug/Pages/LeftPage.xbf
PageNavigationExample/PageNavigationExample/bin/x86/Debug/Pages/RightPage.xbf
PageNavigationExample/PageNavigationExample/bin/x86/Debug/resources.pri
PageNavigationExample/PageNavigationExample/bin/x86/Debug/System.Runtime.dll
PageNavigationExample/PageNavigationExample/obj/PageNavigationExample.csproj.nuget.dgspec.json
PageNavigationExample/PageNavigationExample/obj/PageNavigationExample.csproj.nuget.g.props
PageNavigationExample/PageNavigationExample/obj/PageNavigationExample.csproj.nuget.g.targets
PageNavigationExample/PageNavigationExample/obj/project.assets.json
PageNavigationExample/PageNavigationExample/obj/project.nuget.cache
PageNavigationExample/PageNavigationExample/obj/x64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
PageNavigationExample/PageNavigationExample/obj/x64/Debug/App.g.cs
PageNavigationExample/PageNavigationExample/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PageNavigationExample/PageNavigationExample/obj/x64/Debug/PageNavigationExample.csproj.AssemblyReference.cache
PageNavigationExample/PageNavigationExample/obj/x64/Debug/XamlSaveStateFile.xml
PageNavigationExample/PageNavigationExample/obj/x86/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
PageNavigationExample/PageNavigationExample/obj/x86/Debug/.winmd_cache/$Microsoft.UI.Xaml.Markup.winmd_637424959200000000.json
PageNavigationExample/PageNavigationExample/obj/x86/Debug/App.g.cs
PageNavigationExample/PageNavigationExample/obj/x86/Debug/App.g.i.cs
PageNavigationExample/PageNavigationExample/obj/x86/Debug/App.xaml
PageNavigationExample/PageNavigationExample/obj/x86/Debug/App.xbf
PageNavigationExample/PageNavigationExample/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PageNavigationExample/PageNavigationExample/obj/x86/Debug/embed/embed.resfiles
PageNavigationExample/PageNavigationExample/obj/x86/Debug/embed/embed.resfiles.intermediate
PageNavigationExample/PageNavigationExample/obj/x86/Debug/excluded.layout.resfiles
PageNavigationExample/PageNavigationExample/obj/x86/Debug/excluded.layout.resfiles.intermediate
PageNavigationExample/PageNavigationExample/obj/x86/Debug/filtered.layout.resfiles
PageNavigationExample/PageNavigationExample/obj/x86/Debug/filtered.layout.resfiles.intermediate
PageNavigationExample/PageNavigationExample/obj/x86/Debug/intermediatexaml/PageNavigationExample.exe
PageNavigationExample/PageNavigationExample/obj/x86/Debug/intermediatexaml/PageNavigationExample.pdb
PageNavigationExample/PageNavigationExample/obj/x86/Debug/MainPage.g.cs
PageNavigationExample/PageNavigationExample/obj/x86/Debug/MainPage.g.i.cs
PageNavigationExample/PageNavigationExample/obj/x86/Debug/MainPage.xaml
PageNavigationExample/PageNavigationExample/obj/x86/Debug/MainPage.xbf
PageNavigationExample/PageNavigationExample/obj/x86/Debug/MultipleQualifiersPerDimensionFound.txt
PageNavigationExample/PageNavigationExample/obj/x86/Debug/PageNavigationExample.csproj.AssemblyReference.cache
PageNavigationExample/PageNavigationExample/obj/x86/Debug/PageNavigationExample.csproj.CopyComplete
PageNavigationExample/PageNavigationExample/obj/x86/Debug/PageNavigationExample.csproj.CoreCompileInputs.cache
PageNavigationExample/PageNavigationExample/obj/x86/Debug/PageNavigationExample.csproj.FileListAbsolute.txt
PageNavigationExample/PageNavigationExample/obj/x86/Debug/PageNavigationExample.exe
PageNavigationExample/PageNavigationExample/obj/x86/Debug/PageNavigationExample.pdb
PageNavigationExample/PageNavigationExample/obj/x86/Debug/PageNavigationExample.xr.xml
PageNavigationExample/PageNavigationExample/obj/x86/Debug/Pages/LeftPage.g.cs
PageNavigationExample/PageNavigationExample/obj/x86/Debug/Pages/LeftPage.g.i.cs
PageNavigationExample/PageNavigationExample/obj/x86/Debug/Pages/LeftPage.xaml
PageNavigationExample/PageNavigationExample/obj/x86/Debug/Pages/LeftPage.xbf
PageNavigationExample/PageNavigationExample/obj/x86/Debug/Pages/RightPage.g.cs
PageNavigationExample/PageNavigationExample/obj/x86/Debug/Pages/RightPage.g.i.cs
PageNavigationExample/PageNavigationExample/obj/x86/Debug/Pages/RightPage.xaml
PageNavigationExample/PageNavigationExample/obj/x86/Debug/Pages/RightPage.xbf
PageNavigationExample/PageNavigationExample/obj/x86/Debug/pri.resfiles
PageNavigationExample/PageNavigationExample/obj/x86/Debug/pri.resfiles.intermediate
PageNavigationExample/PageNavigationExample/obj/x86/Debug/priconfig.xml
PageNavigationExample/PageNavigationExample/obj/x86/Debug/priconfig.xml.intermediate
PageNavigationExample/PageNavigationExample/obj/x86/Debug/ProjectArchitectures.txt
PageNavigationExample/PageNavigationExample/obj/x86/Debug/qualifiers.txt
PageNavigationExample/PageNavigationExample/obj/x86/Debug/qualifiers.txt.intermediate
PageNavigationExample/PageNavigationExample/obj/x86/Debug/ResourceHandlingTask.state
PageNavigationExample/PageNavigationExample/obj/x86/Debug/resources.resfiles
PageNavigationExample/PageNavigationExample/obj/x86/Debug/resources.resfiles.intermediate
PageNavigationExample/PageNavigationExample/obj/x86/Debug/unfiltered.layout.resfiles
PageNavigationExample/PageNavigationExample/obj/x86/Debug/unfiltered.layout.resfiles.intermediate
PageNavigationExample/PageNavigationExample/obj/x86/Debug/XamlSaveStateFile.xml
PageNavigationExample/PageNavigationExample/obj/x86/Debug/XamlTypeInfo.g.cs
